<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Users Details</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>

<div id="app">
    <h1>Users ID</h1>
    <ul>
        <li v-for="users in users">{{users.id}}</li>
    </ul>

    <h1>Users Name</h1>
    <ul>
        <li v-for="users in users">{{users.name}}</li>
    </ul>
    
    <table style="width:100%">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
        </tr>
        <tr>
            <td>
                <li v-for="users in users">{{users.id}}</li>
            </td>
            <td>
                <li v-for="users in users">{{users.name}}</li>
            </td>
            <td>
                <li v-for="users in users">{{users.salary}}</li>
            </td>
        </tr>
    </table>
</div>


<script>
const apiURL="http://localhost:8034/user/all";
    new Vue({
        el: '#app',
        data(){
            return{
                users:[]

            }
        },

        created(){
            fetch(apiURL)
            .then(response=>{

            return response.json();
            })
            .then(users=>{
                this.users=users;
            })
        }
    });


</script>
</body>
</html>